<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="px-sm-16" align="center" bgcolor="#FFFFFF">
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
        <tr>
          <td class="px-sm-8" bgcolor="#FFFFFF" style="padding: 0 0px">
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="col px-sm-16" align="left" width="100%" style="padding: 0 88px">
                  <p style="color: #888888; margin: 0">&copy; Copyright 2023 WANNAB. All Rights Reserved.</p>
                  <p class="links-inherit-color" style="color: #888888; margin: 0">경기도 시흥시 장곡로 53번길 10
                  </p>
                  <div class="spacer" style="line-height: 16px">&zwnj;</div>
                  <p style="color: #888888; margin: 0">
                    문의처
                    <a href="mailto:jk.park@mediio.net"
                      style="color: #888888; text-decoration: underline">WANNAB Email</a>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<!-- <table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
  <tr>
    <td class="px-sm-16" align="center" bgcolor="#FFFFFF">
      <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
        <tr>
          <td class="px-sm-8" align="left" bgcolor="#FFFFFF" style="padding: 0 88px">
            <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 24px">&zwnj;</div>
            <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
              <tr>
                <td class="col" width="100%" style="padding: 0 8px">
              <tr>
                <td align="center">
                  <div>
                    <a href="#" style="color: #888888; text-decoration: underline; font-size: 12px; padding: 8px">All
                      Policies</a>
                    <a href="#"
                      style="color: #888888; text-decoration: underline; font-size: 12px; padding: 8px">Cancellation
                      Policy</a>
                    <a href="#" style="color: #888888; text-decoration: underline; font-size: 12px; padding: 8px">Refund
                      Policy</a>
                  </div>
                </td>
              </tr>
          </td>
        </tr>
      </table>

      <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 24px">&zwnj;</div>
    </td>
  </tr>
</table> -->
</td>
</tr>
</table>