<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <!-- header -->
  <%- include('common/header') %>

  <body
    style="
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      width: 100%;
      word-break: break-word;
      -webkit-font-smoothing: antialiased;
    "
  >
    <!-- for email description -->
    <%- include('common/notifyAdminBody') %>
    <!-- for footer -->
    <%- include('common/footer') %>
  </body>
</html>
